<div class="card">
    <div class="widget-title d-flex justify-content-between">Holidays<a href="#" class="widget-link">View All</a></div>
    <div class="row">
        <div class="col-auto">
         
        </div>
        <div class="col">
            <div class="widget-holidayName">Muharram</div>
            <div class="row d-flex justify-content-between">
                <div class="col widget-Date">Fri, 28 July, 2023</div>
                <div class="col widget-holidayType text-end"><span>FLOATER HOLIDAY</span></div>
            </div>
        </div>
    </div>
</div>