<div class="card">
    <div class="widget-title d-flex justify-content-between"><span style="color: #fff;">
            <span class="widget-title">Time Today - </span><span class="date">{{todayString}}</span></span><a href="#" class="widget-link">View
            All</a></div>
    <div class="row">
        <div class="col-auto">

        </div>
        <div class="col">
            <div class="col widget-Date">CURRENT TIME</div>

            <div class="row d-flex justify-content-between">
                <div class="col widget-holidayName time">{{ date }}</div>
                <div class="col widget-holidayType text-end"><span>Work From Home</span></div>
            </div>
        </div>
    </div>
</div>