.widget-title {
    color: #2986ce !important;
    opacity: 1 !important;
    font-weight: bold;
    font-size: 18px;
    .date{
        opacity: 0.7;
    }
    .widget-link {
        font-weight: normal;
        font-size: 13px;
    }
}
