<div class="side-bar">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li routerlinkactive="active" class="nav-item">
                <a class="nav-link"><i class="bi bi-house-door"></i><span>Home</span></a>
            </li>
            <li routerlinkactive="active" class="nav-item">
                <a class="nav-link"><i class="bi bi-person"></i><span>Me</span></a>
            </li>
            <li routerlinkactive="active" class="nav-item">
                <a class="nav-link"><i class="bi bi-inbox"></i><span>Inbox</span></a>
            </li>
            <li routerlinkactive="active" class="nav-item">
                <a class="nav-link"><i class="bi bi-people"></i><span>My Team</span></a>
            </li>
            <li routerlinkactive="active" class="nav-item">
                <a class="nav-link"><i class="bi bi-bank"></i><span>My Finances</span></a>
            </li>
            <li routerlinkactive="active" class="nav-item">
                <a class="nav-link"><i class="bi bi-briefcase"></i><span>Org</span></a>
            </li>
        </ul>
    </nav>
</div>
