<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col">
                    <div class="header-title">Quick Access</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="widget-item">
                        <app-home-pending-actions-widget></app-home-pending-actions-widget>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="widget-item">
                        <app-home-holidays-widget></app-home-holidays-widget>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="widget-item">
                        <app-home-on-leave-widget></app-home-on-leave-widget>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-sm"></div>
    </div>
</div>
